.footer {
  height: 30vh;
  width: 100%;
  border-top: 3px solid yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer > a {
  font-size: 2vh;
  text-decoration: none;
  color: yellow;
}
